@charset "utf-8";

    *{
        /*setar com margem zerada e padding zerado o projeto*/
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
    /*usado o ../ antes da do caminho para voltar uma pasta*/
    background-image: url(../imagens/fundo-madeira.jpg);
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif; 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    
    }#celular{
        /*MANEIRA DE ALINHAR UMA DIV, FRAME, ITEM*/
        position: absolute;
        top: -8%;
        left: 50%;
        transform: translate(-50% , -50%);

        height: 657px;
        width: 311px;
        
    }main{
        height: 100vh;
        position: relative;

    }iframe#tela{
        position: relative;
        top: 552px ;
        left: 25px;
        height:466px ;
        width: 261px;
    }section#redes > a > img{
        /*arredeondando imagens quadradas com border radius*/
        width: 50px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.575);
        box-sizing: border-box; /*propriedade para a bordar fazer parte do objeto*/
    }section#redes{
        text-align: right;
    }img:hover{
        border: 2px solid rgba(255, 255, 255, 0.651) ; /*borda */
        transform: translate(-3px, -3px); /*movimentação do botão*/
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589); /*movimentação da sombra*/
        transition: transform 0.3s, border 0.2s; /*animação */
    }